.lobby-page-content{
  width: 100%;
  display: flex;
}
.lobby-page-wrapper {
  width: 80%;
  height: 100%;
}
.date {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.lobby-page-scrum-master {
  margin-left: 18%;
  margin-bottom: 7px;
}

.lobby-page-scrum-master-title {
  margin-bottom: 7px;
}

.lobby-page-button-members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
.lobby-page-button-members-container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
    & .plate{
    margin: 10px ;
  }
}
.lobby-page-button-members-title,
.lobby-page-game-settings-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 118px;
}


.header-modal-lobby-addIssues {
  font-weight: bold;
  font-size: 44px;
  line-height: 75px;
  text-align: center;
  margin: 0 0 34px 0;
}

.footer-modal-lobby-addIssues {
  display: flex;
  justify-content: space-between;
}

.wrapper-content-modal-lobby-addIssues {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.content-modal-lobby-addIssues {
  margin: 0 0 113px 0;
}

@media (max-width: 900px) {
.lobby-page-wrapper {
  width: 69%;
 }
}