.header-modal-lobby-addTime {
  font-weight: bold;
  font-size: 44px;
  line-height: 75px;
  text-align: center;
  margin: 0 0 34px 0;
}

.footer-modal-lobby-addTime {
  display: flex;
  justify-content: space-between;
}

.wrapper-content-modal-lobby-addTime {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.content-modal-lobby-addTime {
  width: 300px;
  margin: 0 0 70px 0;
}

.create-time-input {
  width: 210px;
}
