.header-modal-lobby-addCards {
  font-weight: bold;
  font-size: 44px;
  line-height: 75px;
  text-align: center;
  margin: 0 0 34px 0;
}

.footer-modal-lobby-addCards {
  display: flex;
  justify-content: space-between;
}

.wrapper-content-modal-lobby-addCards {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.content-modal-lobby-addCards {
  margin: 0 0 70px 0;
}
