.header {
  width: 100%;
  min-height: 70px;
}

.line-1 {
  height: 70%;
  background: #2B3A67;
}
.line-2 {
  height: 30%;
  background: #66999B
}

.heder-logo {
  position: absolute;
  top: 20px;
  left: 10vw;
}
